:root {
	--black: #000000;
	--nearBlack: #444444;
	--darkGrey: #707070;
	--lightGrey: #aaaaaa;
	--nearWhite: #f5f5f5;
	--white: #ffffff;
	--blue: #2699fb;
}

body {
	background-color: var(--white);
	color: var(--black);
	font-family: 'Fira Code', Arial, Helvetica, sans-serif;
	display: grid;
	margin: 0;
	grid-gap: 1%;
	grid-template-columns: 10% 78% 10%;
	align-content: center;
	grid-template-rows: 5em auto 6em;
	grid-template-areas:
		'nav nav nav'
		'. contents .'
		'footer footer footer';
}

/* nav bar styling */

nav {
	grid-area: nav;
	background: var(--blue);
	padding: 0 3%;
}

h1 {
	float: left;
	font-size: 2em;
	margin-top: 0.5em;
}

nav ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 3em;
	padding-top: 1.75em;
	position: relative;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--black);
}

nav a::before {
	content: '';
	display: block;
	height: 0.3em;
	width: 100%;
	background-color: var(--black);

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

/* content styling */

main {
	grid-area: contents;
}

main > header {
	background-color: var(--lightGrey);
	margin-left: 0.5em;
}

article > img {
	width: 25%;
	margin: 0 1em 1em 0;
}

article > img:nth-child(odd) {
	float: left;
	box-shadow: 0.5em 0.5em 1em 0 rgba(0, 0, 0);
}

article > img:nth-child(even) {
	float: right;
	box-shadow: -0.5em 0.5em 1em 0 rgba(0, 0, 0);
}

main > article {
	margin-bottom: 3em;
	overflow: auto;
}

p {
	margin: 1em;
}

/* dojo styling */

section > header {
	font-size: 1.25em;
	margin-bottom: 1em;
}

a > img {
	height: 7em;
	margin-bottom: 1em;
	float: right;
	clear: both;
}

article > section {
	margin: 1em;
	overflow: auto;
	border: 0.1em solid var(--black);
	padding: 0.5em;
}

/* referal styling */

aside {
	float: right;
}

aside img {
	height: 20em;
}

article > footer {
	bottom: 0;
	position: relative;
}

/* contact styling */

h6 {
	margin: 0;
	color: var(--darkGrey);
}

input,
label,
textarea {
	width: 100%;
}

textarea {
	min-height: 10em;
}

/* footer styling */

body > footer {
	grid-area: footer;
	padding: 0;
	margin: 0;
	background-color: var(--nearBlack);
	color: var(--nearWhite);
}

.end p {
	float: left;
}

.cookie {
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 3em;
	text-align: center;
	bottom: 0;
	left: 0;
}
