:root {
	--textColor: #000000;
	--FooterBackgroundColor: #444444;
	--color3: #707070;
	--headerBackground: #aaaaaa;
	--color5: #f5f5f5;
	--backgroundColor: #ffffff;
	--headerColor: #2699fb;
}

body {
	background-color: var(--backgroundColor);
	color: var(--textColor);
	display: grid;
	margin: 0;
	grid-gap: 2%;
	grid-template:
		'nav'
		'content'
		'footer';
}

nav {
	grid: nav;
	background: var(--headerColor);
}

nav ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	float: left;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 27px;
	position: relative;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--textColor);
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: var(--backgroundColor);

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

section {
	grid: content;
	padding: 0;
	margin: 0;
}

header {
	background-color: var(--headerBackground);
}

footer {
	grid: footer;
	height: 100px;
	padding: 0;
	margin: 0;
	background-color: var(--FooterBackgroundColor);
}
