:root {
	--textColor: #000000;
	--FooterBackgroundColor: #444444;
	--color3: #707070;
	--headerBackground: #aaaaaa;
	--FooterTextColor: #f5f5f5;
	--backgroundColor: #ffffff;
	--headerColor: #2699fb;
}

body {
	background-color: var(--backgroundColor);
	color: var(--textColor);
	display: grid;
	margin: 0;
	grid-gap: 1%;
	grid-template-columns: 80% 19%;
	grid-template-rows: 75px auto 100px;
	grid-template-areas:
		'nav nav'
		'content side'
		'footer footer';
}

nav {
	grid-area: nav;
	background: var(--headerColor);
	padding: 0 3%;
}

nav ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	float: left;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 27px;
	position: relative;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--textColor);
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: var(--backgroundColor);

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

aside {
	grid-area: side;
	background-color: var(--color3);
}

section {
	grid-area: content;
	padding: 0;
	margin: 0;
}

header {
	background-color: var(--headerBackground);
}

footer {
	grid-area: footer;
	padding: 0;
	margin: 0;
	background-color: var(--FooterBackgroundColor);
	color: var(--FooterTextColor);
}
